Repository Bushizzle/login-form: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, eslint --max-warnings 0 --no-warn-ignored, stylelint --fix, stylelint --max-warnings 0

README
  README.md
Due: none

ci: deploy GitHub Pages via official actions
  .github/workflows/ci.yml
Due: none

ci: fix pages permissions and environment
  .github/workflows/ci.yml
Due: none

refactor: move mascot to widgets
  src/pages/sign-in/ui/SignInPage.tsx
  src/widgets/mascot/index.ts
  src/widgets/mascot/lib/dom.ts
  src/widgets/mascot/lib/render.ts
  src/widgets/mascot/model/Mascot.test.ts
  src/widgets/mascot/model/Mascot.ts
  src/widgets/mascot/model/behavior.test.ts
  src/widgets/mascot/model/behavior.ts
  src/widgets/mascot/model/blinkScheduler.ts
  src/widgets/mascot/model/constants.ts
  src/widgets/mascot/model/createBlinkScheduler.ts
  src/widgets/mascot/model/createGlanceScheduler.ts
  src/widgets/mascot/model/glances.test.ts
  src/widgets/mascot/model/glances.ts
  src/widgets/mascot/model/index.ts
  src/widgets/mascot/model/mascot.module.pcss
  src/widgets/mascot/model/pointerIdle.test.ts
  src/widgets/mascot/model/pointerIdle.ts
  src/widgets/mascot/model/runtimeConfig.ts
  src/widgets/mascot/model/timers.ts
  src/widgets/mascot/model/types.ts
  src/widgets/mascot/model/windowPointerTracking.test.ts
  src/widgets/mascot/model/windowPointerTracking.ts
Due: eslint --fix, eslint --max-warnings 0 --no-warn-ignored, stylelint --fix, stylelint --max-warnings 0

refactor(mascot): reorganize into ui/model/infra
  src/widgets/mascot/__tests__/Mascot.test.ts
  src/widgets/mascot/__tests__/behavior.test.ts
  src/widgets/mascot/__tests__/glances.test.ts
  src/widgets/mascot/__tests__/pointerIdle.test.ts
  src/widgets/mascot/__tests__/windowPointerTracking.test.ts
  src/widgets/mascot/infra/pointer/index.ts
  src/widgets/mascot/infra/pointer/pointerIdle.ts
  src/widgets/mascot/infra/pointer/runtimeConfig.ts
  src/widgets/mascot/infra/pointer/windowPointerTracking.ts
  src/widgets/mascot/infra/timers/TimerBag.ts
  src/widgets/mascot/infra/timers/index.ts
  src/widgets/mascot/model/Mascot.ts
  src/widgets/mascot/model/behavior/eyelids.ts
  src/widgets/mascot/model/behavior/index.ts
  src/widgets/mascot/model/behavior/state.ts
  src/widgets/mascot/model/schedulers/blink/BlinkScheduler.ts
  src/widgets/mascot/model/schedulers/blink/createBlinkScheduler.ts
  src/widgets/mascot/model/schedulers/blink/index.ts
  src/widgets/mascot/model/schedulers/glance/GlanceScheduler.ts
  src/widgets/mascot/model/schedulers/glance/createGlanceScheduler.ts
  src/widgets/mascot/model/schedulers/glance/index.ts
  src/widgets/mascot/model/schedulers/index.ts
  src/widgets/mascot/ui/mascot.module.pcss
Due: eslint --fix, eslint --max-warnings 0 --no-warn-ignored, stylelint --fix, stylelint --max-warnings 0

docs: align README with current architecture
  README.md
Due: none

feat(auth): show success alert on sign in
  src/features/auth/sign-in/model/types.ts
  src/features/auth/sign-in/model/useSignInForm.ts
  src/features/auth/sign-in/ui/SignInForm.test.tsx
  src/features/auth/sign-in/ui/SignInForm.tsx
Due: eslint --fix, eslint --max-warnings 0 --no-warn-ignored

feat(mascot): redden after first poke
  src/widgets/mascot/__tests__/Mascot.test.ts
  src/widgets/mascot/model/constants.ts
Due: eslint --fix, eslint --max-warnings 0 --no-warn-ignored

feat(mascot): redden after two pokes
  src/widgets/mascot/__tests__/Mascot.test.ts
  src/widgets/mascot/model/constants.ts
Due: eslint --fix, eslint --max-warnings 0 --no-warn-ignored

feat(auth): add forgot password page and link
  src/app/index.tsx
  src/features/auth/sign-in/ui/SignInForm.module.pcss
  src/features/auth/sign-in/ui/SignInForm.test.tsx
  src/features/auth/sign-in/ui/SignInForm.tsx
  src/pages/forgot-password/index.ts
  src/pages/forgot-password/ui/ForgotPasswordPage.module.pcss
  src/pages/forgot-password/ui/ForgotPasswordPage.test.tsx
  src/pages/forgot-password/ui/ForgotPasswordPage.tsx
  src/pages/sign-in/ui/SignInPage.test.tsx
  src/shared/ui/index.ts
  src/shared/ui/link/AppLink.module.pcss
  src/shared/ui/link/AppLink.tsx
  src/shared/ui/link/index.ts
Due: eslint --fix, eslint --max-warnings 0 --no-warn-ignored, stylelint --fix, stylelint --max-warnings 0

feat(ui): add auth placeholders and icons
  src/app/index.tsx
  src/features/auth/sign-in/ui/SignInForm.module.pcss
  src/features/auth/sign-in/ui/SignInForm.test.tsx
  src/features/auth/sign-in/ui/SignInForm.tsx
  src/pages/forgot-password/index.ts
  src/pages/forgot-password/ui/ForgotPasswordPage.test.tsx
  src/pages/forgot-password/ui/ForgotPasswordPage.tsx
  src/pages/not-planned/index.ts
  src/pages/not-planned/ui/NotPlannedPage.module.pcss
  src/pages/not-planned/ui/NotPlannedPage.test.tsx
  src/pages/not-planned/ui/NotPlannedPage.tsx
  src/shared/ui/icons/PasswordIcons.tsx
  src/shared/ui/icons/SettingsIcon.tsx
  src/shared/ui/icons/SocialIcons.tsx
  src/shared/ui/icons/index.ts
  src/shared/ui/index.ts
  src/shared/ui/link/AppLink.module.pcss
  src/shared/ui/link/AppLink.tsx
  src/shared/ui/password-field/PasswordField.tsx
  src/widgets/header/ui/Header.tsx
Due: eslint --fix, eslint --max-warnings 0 --no-warn-ignored, stylelint --fix, stylelint --max-warnings 0

fix(pages): correct base paths and SPA fallback
  index.html
  public/404.html
  public/vite.svg
Due: none

fix(ui): make settings icon theme-aware
  src/shared/ui/icons/SettingsIcon.tsx
Due: eslint --fix, eslint --max-warnings 0 --no-warn-ignored

docs(html): add meta description
  index.html
  public/404.html
Due: none

fix(a11y): improve primary button contrast in dark theme
  src/shared/styles/accessibility.pcss
Due: stylelint --fix, stylelint --max-warnings 0

chore: add Lighthouse gif and silence router warnings
  README.md
  docs/lighthouse.gif
  src/app/index.tsx
  src/features/auth/sign-in/ui/SignInForm.test.tsx
  src/pages/not-planned/ui/NotPlannedPage.test.tsx
  src/pages/sign-in/ui/SignInPage.test.tsx
Due: eslint --fix, eslint --max-warnings 0 --no-warn-ignored

docs: polish UX principle wording
  README.md
Due: none

docs: use Lighthouse PNG in README
  README.md
  docs/lighthouse.gif
  docs/lighthouse.png
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  eslint --max-warnings 0 --no-warn-ignored: any of: *.{ts,tsx}
  stylelint --fix: any of: *.{css,pcss}
  stylelint --max-warnings 0: any of: *.{css,pcss}
